.about {
	text-align: center;
	max-width: 1000px;
	margin: 50px auto;

	.about-content {
		margin: 30px auto;
		line-height: 1.3;

		.about-p {
			margin: 0;
			font-size: 20px;
			line-height: 1.5;
		}

		.scroll-to-form-btn {
			width: 100%;
			max-width: 400px;
			margin: 10px auto;
			font-family: inherit;
			background-color: var(--main-color);
		}
	}
}
