.rules {
	display: flex;
	padding: 0 10px;
	flex: 1;
	max-width: 1000px;
	margin: auto;
	margin-top: 70px;

	.page-content {
		margin-top: 50px;
		width: 100%;
		max-width: 1000px;
		margin: 0 10px;

		.rules-title {
			color: #000;
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.rule {
			margin: 20px 0;

			.rule-title {
				font-weight: 600;
				margin: 0;
				font-size: 20px;
			}

			.rule-description {
				margin: 0;
				font-size: 18px;
			}
		}
	}
}
