.submit_report {
	text-align: center;
	max-width: 1000px;
	margin: 50px auto;

	.submit-report-content {
		margin: 30px auto;

		.form-title {
			font-weight: 600;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.form-description {
			margin-top: 0;
		}

		.form-container {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			padding: 20px;
			border-radius: 10px;

			.form-input {
				width: 100%;
				max-width: 600px;
				margin: 10px auto;
				font-family: inherit;
			}

			.accept-policy-line {
				text-align: start;
				width: 100%;
				max-width: 600px;
				margin: 10px auto;

				.accept-policy {
					color: var(--main-color);
				}

				.accept-policy-cb {
					zoom: 1.2;
					cursor: pointer;
				}

				.accept-policy-text {
					cursor: pointer;
				}
			}

			.error-message {
				color: red;
			}

			.form-button {
				width: 100%;
				max-width: 400px;
				margin: 10px auto;
				font-family: inherit;
				background-color: var(--main-color);
			}
		}
	}
}
